.imageCarousel {
  display: flex;
  overflow: hidden;
  height: 400px;
  width: 100%;
}

.carouselInner {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.imageCarousel img {
  height: 100%;
  width: auto;
  flex-shrink: 0;
}
