.container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 150px;
  height: 220px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.front {
  background-color: #3c3e44;
  border-radius: 7px;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  object-fit: cover;
}

.back {
  background-color: #333333;
  border-radius: 7px;
  transform: rotateY(180deg);
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.container:hover .card {
  transform: rotateY(180deg);
}

.container:hover .card .front {
  opacity: 0;
}

.container:hover .card .back {
  opacity: 1;
}

.titleContainer {
  margin-top: 10px;
  margin-bottom: -15px;
}
.title {
  color: #ff9800;
  cursor: pointer;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.link {
  font-size: inherit;
  font-style: inherit;
  color: inherit;
  font-size: 12px;
  text-decoration: none;
  border-bottom: 1px solid #ff9800;
  transition: border-bottom-color 0.3s;
}

.title .link:hover {
  border-bottom-color: transparent;
}

.infoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infoList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info {
  color: rgb(255, 255, 255);
  flex-direction: column;
  font-size: 10px;
  line-height: 1.4;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoTitle {
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.subInfoList {
  padding: 0;
  margin: 0;
}

.subInfoItem {
  margin-bottom: 1rem;
}

.linkContainer {
  margin-top: auto;
}

.linkContainer {
  bottom: 0;
}
