.search-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .search-input {
    font-size: 18px;
    padding: 10px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .search-button {
    font-size: 18px;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #ff4800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #ff570d;
  }
  