.footer {
  background-color: #383838;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logoContainer {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.logo {
  color: #ff5500;
  text-decoration: none;
  font-weight: 700;
  font-family: inherit;
  font-size: 1.2rem;
}

.nav {
  flex: 1;
  margin-bottom: 10px;
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin: 0 10px;
}

.navLinks a {
  color: #979797;
  text-decoration: none;
  font-size: 14px;
}

.copyRight {
  margin-top: auto;
}

.text {
  color: #979797;
  font-size: 14px;
}

/* Estilos responsive */
@media screen and (min-width: 768px) {
  .footerContent {
    flex-direction: row;
  }

  .logoContainer {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .nav {
    margin-bottom: 0;
  }

  .navLinks {
    justify-content: flex-end;
  }

  .navLinks li {
    margin: 0 8px;
  }
}
