.container {
  background: #1b1b1b;
}

.searchBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 600px) {
  .searchBar {
    max-width: 300px;
    font-size: 14px;
  }
}

.moviesContainer {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 10px));
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  row-gap: 2px;
}
