.container {
  background: #1b1b1b;
}

.searchBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.searchForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

.searchInput {
  font-size: 18px;
  padding: 10px;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.searchButton {
  font-size: 18px;
  padding: 12px 20px;
  background-color: #ff4800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #ff570d;
}

@media screen and (max-width: 600px) {
  .searchForm {
    flex-direction: column;
    align-items: flex-start;
  }

  .searchInput {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }

  .searchButton,
  .searchButton-red,
  .clearButton {
    width: 100%;
    max-width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .searchBar {
    max-width: 300px;
    font-size: 14px;
  }
}

.moviesContainer {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 10px));
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  row-gap: 2px;
}
